<a href="https://colab.research.google.com/github/smartie20/smartie20/blob/main/Assin3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LIBRARIES IMPORT

In [ ]:
from sklearn import model_selection,metrics,preprocessing,linear_model,tree,svm,datasets
import pandas as pd 
import numpy as np

#CSV FILE READING

In [ ]:
data = pd.read_csv('/content/housing.csv')
data = pd.DataFrame(data)
data

       longitude  latitude  ...  median_house_value  ocean_proximity
0        -122.23     37.88  ...            452600.0         NEAR BAY
1        -122.22     37.86  ...            358500.0         NEAR BAY
2        -122.24     37.85  ...            352100.0         NEAR BAY
3        -122.25     37.85  ...            341300.0         NEAR BAY
4        -122.25     37.85  ...            342200.0         NEAR BAY
...          ...       ...  ...                 ...              ...
20635    -121.09     39.48  ...             78100.0           INLAND
20636    -121.21     39.49  ...             77100.0           INLAND
20637    -121.22     39.43  ...             92300.0           INLAND
20638    -121.32     39.43  ...             84700.0           INLAND
20639    -121.24     39.37  ...             89400.0           INLAND

[20640 rows x 10 columns]

#GETTING RID OF UNWANTED COLUMNS

In [ ]:
data.drop('ocean_proximity' , axis=1 , inplace=True)
data

       longitude  latitude  ...  median_income  median_house_value
0        -122.23     37.88  ...         8.3252            452600.0
1        -122.22     37.86  ...         8.3014            358500.0
2        -122.24     37.85  ...         7.2574            352100.0
3        -122.25     37.85  ...         5.6431            341300.0
4        -122.25     37.85  ...         3.8462            342200.0
...          ...       ...  ...            ...                 ...
20635    -121.09     39.48  ...         1.5603             78100.0
20636    -121.21     39.49  ...         2.5568             77100.0
20637    -121.22     39.43  ...         1.7000             92300.0
20638    -121.32     39.43  ...         1.8672             84700.0
20639    -121.24     39.37  ...         2.3886             89400.0

[20640 rows x 9 columns]

##DATA INFORMATIONS CHECK AFTER COLUMNS REMOVING

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

###REMOVING NAN VALUES TO PREVENT PROCESSING ERRORS

In [ ]:
data['total_bedrooms'] = data['total_bedrooms'].fillna(data['total_bedrooms'].mean()) #replacing each NAN value in total bedrooms column with the overall column avarage

#PREPROCESSING DATA

##X AND Y SELECTION PREPARING FOR PROCESSING

In [ ]:
x=data.iloc[:,2:8] #select numrical columns

In [ ]:
y = np.array(data.median_house_value)

###NORMALIZATION STEP

In [ ]:
x_normalizer = preprocessing.StandardScaler()
y_normalizer = preprocessing.StandardScaler()
x_norm = x_normalizer.fit_transform(x)
y_norm = y_normalizer.fit_transform(y.reshape(-1,1)) #reshaping y to make y array fit the size

#SETTING RANDOM SEED

In [ ]:
np.random.seed(42)

#TRAIN AND TEST SPLITTING

In [ ]:
x_train,x_test,y_Train,y_test=model_selection.train_test_split(x_norm,y_norm,test_size=0.10,random_state=42)

#FIRST MODEL SELECTION (LINEAR REGRESSION)

In [ ]:
linear_model=linear_model.LinearRegression()
linear_model.fit(x_train,y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

##LINEAR MODEL RESULTS PREDICTION

In [ ]:
pred=linear_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

the mse is : 0.47972387643516823
the r2  is : 0.5210168043709292

#SECOND MODEL SELECTION ( DECISION TREE)

In [ ]:
tree_model=tree.DecisionTreeRegressor()
tree_model.fit(x_train,y_Train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

##TREE MODEL RESULTS PREDICTION

In [ ]:
pred=tree_model.predict(x_test)
print(f'the mse is : {metrics.mean_squared_error(y_test,pred)}')
print(f'the r2  is : {metrics.r2_score(y_test,pred)}')

the mse is : 0.7105694825024133
the r2  is : 0.29052761773157787

#THIRD MODEL PREDICTION (SUPPORT VECTOR MECHINE) AND MODEL TUNNING TO GET BEST RESULTS

In [ ]:
svm_model=svm.SVR(C=0.3 , gamma=0.7 , epsilon=0.2) #exchanging c,gamma and epsilon values for the tunning process to get the best results
svm_model.fit(x_train , y_Train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=0.3, cache_size=200, coef0=0.0, degree=3, epsilon=0.2, gamma=0.7,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

##SVM MODEL RESULTS PREDICTION

In [ ]:
pred=svm_model.predict(x_test)
print("the mse is = " ,metrics.mean_squared_error(y_test,pred))
print("the r2  is = " ,metrics.r2_score(y_test,pred))

the mse is =  0.37812937818381936
the r2  is =  0.6224544434402439

# BEST MODEL SELECTION DEPENDING ON MEAN SQUARE ERROR AND R2_SCORE PERCENTAGES

**we must choose the SVM model because it has high r2 score ratio and low mse value**

#IMPORTANT NOTE

 ***for all the results :-
mse means mean squared error AND
r2 means r2_score***